.active {
  color: var(--font-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  height: 70%;
  width: 65%;

  & svg {
    padding: 0.6rem;
    height: 65%;
    width: 65%;
  }
}

.link {
  color: var(--font-color-muted);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  height: 70%;
  width: 65%;

  &:hover {
    color: var(--primary-color);
  }

  & svg {
    padding: 0.6rem;
    height: 65%;
    width: 65%;
  }
}
