.box {
  border-radius: 37px;

  background: var(--background-color-darker);
  box-shadow: 0 0 20px var(--background-color-darker);

  height: 13rem;
  min-width: 20rem;

  display: flex;
}

.left {
  width: 65%;
  padding-left: 1rem;

  h1 {
    font-size: 1.5rem;
    font-weight: bolder;

    padding: 0;
    amrgin: 0;
  }
}

.shortcut-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;

  height: 8.75rem;
}

.shortcut-box {
  position: relative;
  display: inline-block;

  & span {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;

    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
  }

  & img {
    border-radius: 3px;
  }

  &:hover {
    & span {
      visibility: visible;
      pointer-events: none;
      user-select: none;
    }
  }
}

.actions-buttons {
  width: 35%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  & button {
    background-color: var(--primary-color);
    color: var(--font-color-reverse);
    cursor: pointer;
    border: none;

    & svg {
      transform: scale(0.8);
      fill: var(--font-color-reverse);
    }

    &:hover {
      box-shadow: 0 0 10px var(--primary-color);
    }
  }
}

.edit-button {
  border-radius: 6px;
  width: 40%;
  height: 20%;
}

.run-button {
  border-radius: 6px;
  width: 60%;
  height: 55%;
}

.add-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background: var(--background-color-darker);
  box-shadow: 0 0 20px var(--background-color-darker);

  border-radius: 37px;

  height: 13rem;
  min-width: 20rem;

  & svg {
    height: 5rem;
    width: 5rem;

    fill: var(--font-color);
    opacity: 0.5;
  }
}
