/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

:root {
  --primary-color: #2b62f8;

  --background-color: #2a2a2a;
  --background-color-darker: #202020;

  --font-color: #f7f7f7;
  --font-color-muted: #f7f7f7b7;

  --font-color-reverse: #202020;
}

html.light {
  --background-color: #fafafa;
  --background-color-darker: #dfdfdf;

  --font-color: #202020;
  --font-color-muted: #202020b7;

  --font-color-reverse: #f7f7f7;
}

html.theming,
html.theming * {
  transition: all 0.2s linear;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;

  color: var(--font-color);
}
